$body-bg: #ffcf31;
$body-color: #050505;

$btn-border-radius: 1px;
$btn-border-radius-lg: 1px;

$navbar-light-color: #050505;
$navbar-light-active-color: #050505;
$navbar-light-hover-color: #050505;

$font-family-sans-serif: 'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';

$fa-font-path : '//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts';
